body{
    background: linear-gradient(to right, #202122, #414345);
    color: white;
    outline: auto;
    outline-color: rgb(39, 185, 88);
    outline-style:groove;
    outline-width: 0.3cm;
    
}
h1{
    color: white;
    background-color: black;
    outline: auto;
    outline-color: rgb(39, 185, 88);
    outline-style:inset;
    outline-width: 0.3cm;
}

#ButtonContainer button{
   padding: 0.2cm;
   padding: 10px 20px;
   margin: 0.4cm;
   font-size: 0.6cm;
   outline: auto;
   background-color:rgb(228, 228, 228);
    outline-color: rgb(0, 0, 0);
    outline-style:inset;
    outline-width: 0.3cm;
}